Package: sudo
Priority: optional
Section: admin
Installed-Size: 1
Maintainer: Ali Riza KESKIN <aliriza.keskin@pardustopluluk.org>
Architecture: amd64
Version: 2.0-fake
Replaces: sudo-ldap
Depends: libc6
Conflicts: sudo-ldap
Description: This is fake sudo
